@import "~bulma/sass/utilities/initial-variables.sass"

$mainColor: #209CEE
$turquoise: $mainColor
@import "~bulma"
//@import "~bulma-extensions/extensions.sass"

html
  overflow-y: auto
  color: $mainColor
