@import "compass/css3";
@import "mixin";

$pagination-li-width: 25px;
$bgColor: #B9E6EB;
$borderColor: #999999;
$frontColor: #333366;
$highLight: #18A7B7;
* {
  color: $frontColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:12px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hp-ppt {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  background-color: $borderColor;
}

.hp-page, .hp-title, .hp-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.hp-page {
  height: 100%;
  background-color: $bgColor;
}

.hp-title {
  height: 10%;
  text-align: center;
}

.hp-title * {
  display: inline-block;
}

.hp-content {
  height: 100%;
}

.hp-title + .hp-content {
  height: 90%;
}

.hp-shadow {
  @include shadow();
}

.hp-text3D {
  @include shadow(#303030);
}

.hp-pagination {
  z-index: 999;
  position: absolute;
  bottom: 5px;
  text-align: center;
  padding: 0;
}

.hp-pagination-ul {
  padding: 0;
  margin: 0;
}

.hp-pagination-bar {
  height: 2px;
  width: $pagination-li-width;
  background-color: $borderColor;
  clear: both;
}

.hp-pagination-li {
  list-style-type: none;
  float: left;
  width: $pagination-li-width;
  cursor: pointer;
  @include transition(1s);
}

.hp-pagination-li:hover {
  @include transform(rotate(360deg));
}

.hp-pagination-li-active {
  @extend .hp-pagination-li;
}

.hp-pagination-li-active span {
  color: $highLight;
  border-bottom: 1px solid $borderColor;
}
.hp-display-button{
  position: absolute;
  display: block;
  right:0;
  bottom:0;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  border:1px solid $borderColor;
  text-align: center;
  line-height: 200%;
  z-index: 99;

}
.hp-cursor{
  position: absolute;
  display: block;
  width: 2px;
  height: 1em;
  background-color: $highLight;
  z-index: 99;
  @include animation(cursor 0.5s);
  @include animation-iteration-count(infinite);
}

@include keyframes(cursor) {
  0% {background: $highLight;}
  50% {background: red;@include opacity(0.5);}
  100% {background: $highLight;}
}
