@import "compass/css3";
@import "mixin";

$pagination-li-width: 25px;
$bgColor: #f0f5ff;
$borderColor: #adc6ff;
$frontColor: #061178;
$highLight: #1890ff;

* {
  color: $frontColor;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hp-ppt {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  background-color: $borderColor;
}

h2 {
  margin-bottom: 1em;
}

.hp-page, .hp-title, .hp-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.hp-page {
  height: 100%;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
}

.hp-title {
  padding: 20px 0;
  text-align: center;
}

.hp-title * {
  display: inline-block;
}

.hp-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hp-footer {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 50px;
}

.hp-shadow {
  @include shadow();
}

.hp-text3D {
  @include shadow(#303030);
}

.hp-pagination {
  z-index: 999;
  position: absolute;
  bottom: 5px;
  text-align: center;
  padding: 0;
}

.hp-pagination-ul {
  padding: 0;
  margin: 0;
}

.hp-pagination-bar {
  height: 2px;
  width: $pagination-li-width;
  background-color: $borderColor;
  clear: both;
  position: fixed;
  top: 0;
}

.hp-pagination-li {
  list-style-type: none;
  float: left;
  width: $pagination-li-width;
  cursor: pointer;
  @include transition(1s);
}

.hp-pagination-li:hover {
  @include transform(rotate(360deg));
}

.hp-pagination-li-active {
  @extend .hp-pagination-li;
}

.hp-pagination-li-active span {
  color: $highLight;
  border-bottom: 1px solid $borderColor;
}

.hp-display-button {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: 1px solid $borderColor;
  text-align: center;
  line-height: 200%;
  z-index: 99;

}

.hp-cursor {
  position: absolute;
  display: block;
  width: 2px;
  height: 1em;
  background-color: $highLight;
  z-index: 99;
  @include animation(cursor 0.5s);
  @include animation-iteration-count(infinite);
}

@include keyframes(cursor) {
  0% {
    background: $highLight;
  }
  50% {
    background: red;
    @include opacity(0.5);
  }
  100% {
    background: $highLight;
  }
}

.hp-h1 {
  font-size: 36px;
}

.hp-h2 {
  font-size: 32px;
}

.hp-h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.hp-info {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

.charts {
  width: 800px;
  height: 500px;
}
