@import "variable";

.ant-layout {
  height: 100%;
  & > .ant-layout-header {
    height: 50px;
    line-height: unset;
    overflow: hidden;;
    color: #fff;
    background-color: #000c17;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    .brand {
      flex: 1;
    }
    .name {
      padding-right: 5px;
    }
    .anticon {
      cursor: pointer;
      color: @error-color;
    }
  }
  & > .ant-layout {
    & > .ant-layout-sider {
      .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        .ant-menu {
          flex: 1;
        }
      }
    }
    & > .ant-layout-content {
      color: red;

      & > .ant-tabs {
        height: 100%;
        display: flex;
        flex-direction: column;
        & > .ant-tabs-bar {
          margin-bottom: 0;
          padding-top: 5px;
          .ant-tabs-tab {
            .anticon {
              display: none;
              margin-left: 5px;
              margin-right: 0;
            }
            &.ant-tabs-tab-active {
              .anticon {
                display: inline-block;
              }
            }
          }
        }
        & > .ant-tabs-content {
          flex: 1;
          & > .ant-tabs-tabpane {
            height: 100%;
          }
        }
      }
    }
  }
}

.multi-filter-label {
  max-width: 150px;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.base-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  .title {
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid @border-color-base;
  }
  .operate-bar {
    display: flex;
    background-color: #fff;
    padding: 8px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    .label {
      white-space: nowrap;
    }
    & > .ant-input-search {
      width: 200px;
    }
    .buttons {
      flex: 1;
      text-align: right;
    }
  }
  .content {
    flex: 1;
  }
  .footer {
    padding: 8px 4px;
    text-align: right;
    & > * {
      margin-right: 10px;
    }
  }
  .ant-pagination {
    padding: 5px;
    text-align: right;
  }
}

.text-button {
  margin-left: 5px;
  &:nth-child(1) {
    margin-left: 0;
  }
}

.data-grid {
  list-style: none;
  padding-left: 0;
  .data-row {
    display: flex;
    padding: 10px;
    .label {
      min-width: 6em;
      color: @heading-color;
    }
    .value {
      color: @text-color;
      flex: 1;
    }
  }
}

.primary-text {
  color: @primary-color;
}

.link-text {
  color: @primary-color;
  cursor: pointer;
  &.block {
    display: inline-block;
    width: 100%;
  }
}

.success-text {
  color: @success-color;
}

.error-text {
  color: @error-color;
}

.warn-text {
  color: @warning-color;
}

.pic-list {
  padding-left: 0;
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    clear: both;
  }

  &.scrollable {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
    .scroll-pic-item {
      width: auto;
      height: 100px;
      margin-right: 10px;
      display: inline-block;
      img {
        height: 100%;
        width: auto;
      }

    }
  }

  .pic-item {
    float: left;
    position: relative;
    overflow: hidden;
    margin: 1%;
    box-sizing: border-box;
    width: 31.333333%;
    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
    .img-box {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
      cursor: pointer;
      text-align: center;
      align-items: center;
      display: flex;
      & > * {
        flex: 1;
        max-width: 100%;
        max-height: 100%;
      }
      .shadow {
        position: absolute;
        color: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
